a:link {
    color: green;
    background-color:transparent;
    text-decoration: dashed;
  }
  a:visited {
    color: pink;
    background-color: blanchedalmond;
    text-decoration: dotted;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }